{% extends 'registration/base.html' %}

{% block bodyclass %} login-page {% endblock %}

{% block content %}

    <div class="login-box">
      <div class="login-logo">
        <a href="/assocr"><b>Admin</b>LTE</a>
      </div><!-- /.login-logo -->
      <div class="login-box-body">
        <p class="login-box-msg">Sign in to start your session</p>              	  
        <form action="." method="post" role="form">
        	{% csrf_token %}
          <div class="form-group {% if form.username.errors %} has-error {% else %} has-feedback {% endif %}">
          	{% if form.username.errors %}
			    {% for error in form.username.errors %}
			    	<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }}</label> 
			    {% endfor %}
			{% endif %} 
            <input type="text" class="form-control" placeholder="Email" id="id_username" name="username" />
            <span class="glyphicon glyphicon-envelope form-control-feedback" ></span>
          </div>
          <div class="form-group {% if form.password.errors %} has-error {% else %} has-feedback {% endif %}">
          	{% if form.password.errors %}
			    {% for error in form.password.errors %}
			    	<label class="control-label" for="inputError"><i class="fa fa-times-circle-o"></i> {{ error|escape }}</label> 
			    {% endfor %}
			{% endif %} 
            <input type="password" class="form-control" placeholder="Password" id="id_password" name="password"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-8">    
              <div class="checkbox icheck">
                <label>
                  <input type="checkbox"> Remember Me
                </label>
              </div>                        
            </div><!-- /.col -->
            <div class="col-xs-4">
              <button type="submit" class="btn btn-primary btn-block btn-flat" value="Submit">Sign In</button>
            </div><!-- /.col -->
          </div>
          <input type="hidden" name="next" value="{{ next }}" />
        </form>

        <div class="social-auth-links text-center">
          <p>- OR -</p>
          <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
          <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
        </div><!-- /.social-auth-links -->

        <a href="#">I forgot my password</a><br>
        <a href="{% url 'registration_register' %}" class="text-center">Register a new membership</a>

      </div><!-- /.login-box-body -->
    </div><!-- /.login-box -->
    
{% endblock %}
