{% extends 'base.html' %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}
	{% if uf_id %}	
		Edició Unitat Familiar
	{% else %}
		Alta Unitat Familiar
	{% endif %}
{% endblock %}
{% block titlepage %}
	{% if uf_id %}	
		Edició Unitat Familiar
	{% else %}
		Alta Unitat Familiar
	{% endif %}
{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'association' association.id %}">{{ association.name }}</a></li>
	{% if uf_id %}
		<li><a href="{% url 'uf' association.id uf_id %}">UF{{ uf_id }}</a></li>
		<li class="active">Editar</li>		
	{% else %}
		<li class="active">Alta Unitat Familiar</li>

	{% endif %}
{% endblock %}

{% block content %}

		<h4 class="page-header">
            {{ association.name }} - Alta de una nova Unitat Familiar
            <small>Empleni els camps corresponenti i guardi</small> 
          </h4>
          <!-- Info boxes -->
         <div class="row">
          	<div class="col-md-2">
          	</div>
            <div class="col-md-7">
              <!-- general form elements -->
              <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Alta UF</h3>
                  
                {% if form.errors %}
                	<div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Errors!</h4>
                    {% for error in form.errors %}
				    	 {{ error|escape }} </br>
				    {% endfor %}
                  	</div>
				{% endif %} 
                  
               </div><!-- /.box-header -->
                <!-- form start -->
               <form action="{% if uf_id %}{% url 'edit_uf' association.id uf_id %}{% else %}.{% endif %}" method="post" role="form">
               	{% csrf_token %}
                  <div class="box-body">
                  	<div class="form-group {% if form.currentaccount.errors %}has-error{% endif %}">
                      <label for="form.currentaccount.id_for_label">Compte Corrent</label></br>
                      {% if form.currentaccount.errors %}<label class="control-label" for="form.currentaccount.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.currentaccount.errors|striptags }}</label>{% endif %}
                      {{ form.currentaccount|add_class:"form-control" }}
                    </div>                  
                    <!-- radio -->
                    <div class="form-group">
                     {% for radio in form.typequote %}
						<div class="radio">
    					{{ radio }}€
						</div>
					 {% endfor %}
                    </div>
                 </div><!-- /.box-body -->

                  <div class="box-footer">
                  	<div class="row">
            			<div class="col-xs-8"> 
            			</div><!-- /.col -->
	            		<div class="col-xs-4">
	              			<button type="submit" class="btn btn-primary btn-block btn-flat">Guardar</button>
	            		</div><!-- /.col -->
          			</div>                  	
                  </div>
                </form>
              </div><!-- /.box -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>            
           	</div>
       		<div class="col-md-3">
          	</div>
       </div><!-- /.row -->       
       	
{% endblock %}