{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

		<h4 class="page-header">
            Alta de una nova Associació
            <small>Empleni els camps corresponenti i guardi</small> 
          </h4>
          <!-- Info boxes -->
         <div class="row">
          	<div class="col-md-2">
          	</div>
            <div class="col-md-7">
              <!-- general form elements -->
              <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Alta</h3>
                  
                {% if form.errors %}
                	<div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Errors!</h4>
                    {% for error in form.errors %}
				    	 {{ error|escape }} </br>
				    {% endfor %}
                  	</div>
				{% endif %} 
                  
               </div><!-- /.box-header -->
                <!-- form start -->
               <form action="." method="post" role="form">
               	{% csrf_token %}
                  <div class="box-body">
                    <div class="form-group">
                      <label for="name">Nom</label>
                      <input type="text" class="form-control" id="name" name="name" placeholder="Escrigui el nom de l'Associació">
                    </div>
                    <div class="form-group">
                      <label for="email">Email</label>
                      <div class="input-group">
	                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
	                    <input type="text" class="form-control" placeholder="Correu electrònic" id="email" name="email">
                  		</div>
                    </div>
                    <div class="form-group">
                      <label for="penyanumber">Número Penya</label>
                      <input type="text" class="form-control" id="penyanumber" name="penyanumber" placeholder="# Penya">
                    </div>
                    <div class="form-group">
                      <label for="adress">Adreça</label>
                      <textarea class="form-control" rows="3" placeholder="Direcció física" id="adress" name="adress"></textarea>
                    </div>
                    <!-- select -->
                    <div class="form-group">
                      <label for="city">Ciutat</label>
                      <select class="form-control" id="city" name="city">
                        <option>Lleida</option>
                        <option>Barcelona</option>
                        <option>Alpicat</option>
                        <option>Belloc</option>
                        <option>Raïmat</option>
                      </select>
                    </div>
                   <!-- phone mask -->
                  <div class="form-group">
                    <label for="telephone">Telèfon:</label>
                    <div class="input-group">
                      <div class="input-group-addon">
                        <i class="fa fa-phone"></i>
                      </div>
                      <input type="text" id="telephone" name="telephone" class="form-control" data-inputmask='"mask": "(999) 999-999"' data-mask/>
                    </div><!-- /.input group -->
                  </div><!-- /.form group -->
                    <div class="form-group">
                      <label for="url">Url</label>
                      <div class="input-group">
	                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
	                    <input type="text" class="form-control" placeholder="Direcció Web" id="url" name="url">
	                  </div>
                  	</div>
                    <div class="form-group">
                      <label for="exampleInputFile">Logotip</label>
                      <input type="file" id="exampleInputFile">
                      <p class="help-block">Nomé format .png</p>
                    </div>
                  </div><!-- /.box-body -->

                  <div class="box-footer">
                  	<div class="row">
            			<div class="col-xs-8"> 
            			</div><!-- /.col -->
	            		<div class="col-xs-4">
	              			<button type="submit" class="btn btn-primary btn-block btn-flat">Guardar</button>
	            		</div><!-- /.col -->
          			</div>                  	
                  </div>
                </form>
              </div><!-- /.box -->

            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>            
           	</div>
       		<div class="col-md-3">
          	</div>
       </div><!-- /.row -->       
       	
       	 <script>
        	jQuery(function($) {
					$("[data-mask]").inputmask();
					})        	
        </script>
       	
{% endblock %}