{% extends 'base.html' %}

{% load staticfiles %}

{% load widget_tweaks %}

{% block title %}
	{% if association_id %}	
		Edició Associació
	{% else %}
		Alta Associació
	{% endif %}
{% endblock %}
{% block titlepage %}
	{% if association_id %}	
		{{ form.name.value }} - Edició Associació
	{% else %}
		Alta Associació
	{% endif %}
{% endblock %}

{% block breadcrumb %}
	{% if association_id %}
		<li><a href="{% url 'association' association_id %}">{{ form.name.value }}</a></li>
		<li class="active">Editar Associació</li>		
	{% else %}
		<li class="active">Alta Associació </li>
	{% endif %}
{% endblock %}

{% block content %}

          <!-- Info boxes -->
         <div class="row">
          	<div class="col-md-2">
          	</div>
            <div class="col-md-7">
              <!-- general form elements -->
              <div class="box box-primary">
              <div class="box-header">                  
                {% if form.errors %}
                	<div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    <h4><i class="icon fa fa-ban"></i> Errors!</h4>
                    {% for error in form.errors %}
				    	 {{ error|escape }} </br>
				    {% endfor %}
                  	</div>
				{% endif %} 
                  
               </div><!-- /.box-header -->
                <!-- form start -->
               <form action="." method="post" role="form" enctype="multipart/form-data">
               	{% csrf_token %}
                  <div class="box-body">                 
                    <div class="form-group {% if form.name.errors %}has-error{% endif %}">
                      <label for="form.name.id_for_label">Nom</label></br>
                      {% if form.name.errors %}<label class="control-label" for="form.name.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.name.errors|striptags }}</label>{% endif %}
                      {{ form.name|add_class:"form-control" }}
                    </div>
                    <div class="form-group {% if form.email.errors %}has-error{% endif %}">
                      <label for="form.email.id_for_label">Email</label></br>
                      {% if form.email.errors %}<label class="control-label" for="form.email.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.email.errors|striptags }}</label>{% endif %}
                      <div class="input-group">
	                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>	                   
	                    {{ form.email|add_class:"form-control" }}
                  	  </div>
                    </div>
                      <div class="form-group {% if form.penyanumber.errors %}has-error{% endif %}">
                      <label for="form.penyanumber.id_for_label">Número Penya</label></br>
                      {% if form.penyanumber.errors %}<label class="control-label" for="form.penyanumber.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.penyanumber.errors|striptags }}</label>{% endif %}
                      {{ form.penyanumber|add_class:"form-control" }}
                    </div>
                     <div class="form-group {% if form.adress.errors %}has-error{% endif %}">
                      <label for="form.adress.id_for_label">Adreça</label></br>
                      {% if form.adress.errors %}<label class="control-label" for="form.adress.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.adress.errors|striptags }}</label>{% endif %}
                      <div class="input-group">
	                    <span class="input-group-addon"><i class="fa fa-home"></i></span>
	                    {{ form.adress|add_class:"form-control"|attr:"rows:3" }}
                  	  </div>                      
                    </div>
                    <!-- select -->
                    <div class="form-group" {% if form.city.errors %}has-error{% endif %}>
                      <label for="form.city.id_for_label">Ciutat</label></br>
                      {% if form.city.errors %}<label class="control-label" for="form.city.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.city.errors|striptags }}</label>{% endif %}
                      {{ form.city|add_class:"form-control" }}                     
                    </div> 
                    <div class="form-group {% if form.telephone.errors %}has-error{% endif %}">
                      <label for="form.telephone.id_for_label">Telèfon</label></br>
                      {% if form.telephone.errors %}<label class="control-label" for="form.telephone.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.telephone.errors|striptags }}</label>{% endif %}
                      <div class="input-group">
	                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>	                   
	                    {{ form.telephone|add_class:"form-control" }}
                  	  </div>
                    </div>      
                    <div class="form-group {% if form.url.errors %}has-error{% endif %}">
                      <label for="form.url.id_for_label">Url</label></br>
                      {% if form.url.errors %}<label class="control-label" for="form.url.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.url.errors|striptags }}</label>{% endif %}
                      <div class="input-group">
	                    <span class="input-group-addon"><i class="fa fa-link"></i></span>
	                    {{ form.url|add_class:"form-control" }}
                  	  </div>                      
                    </div>                    
                    <div class="form-group {% if form.logotype.errors %}has-error{% endif %}">
                  	{% if association_id %}
                		<a href="{{ form.url.value }}"><img class="media-object" src="{% if url_image %} {{ url_image }} {% else %} {% static "images/nologo.png" %} {% endif %}" alt="logo" style="width: 64px; height: 64px;"></a>
                  	{% endif %}
                  	<label for="form.logotype.id_for_label">Logotip</label></br>
                  	{% if form.logotype.errors %}<label class="control-label" for="form.logotype.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.logotype.errors|striptags }}</label>{% endif %}
                  	<div class="input-group">
                    	<span class="input-group-addon"><i class="fa fa-link"></i></span>
                    	{{ form.logotype|add_class:"form-control" }}
                    	<p class="help-block">Formats: .png</p>
              	  	</div> 
              	  	</div> 
              	  	<hr>
              	  	<h3> Dades Bancàries</h3>
              	  	<div class="form-group {% if form.currentaccount.errors %}has-error{% endif %}">
                  	<label for="form.currentaccount.id_for_label">Compte Corrent</label></br>
                  	{% if form.currentaccount.errors %}<label class="control-label" for="form.currentaccount.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.currentaccount.errors|striptags }}</label>{% endif %}
                  	{{ form.currentaccount|add_class:"form-control" }}
                	</div>  
              	  	<hr>
              	  	<h3> Configuració Google Calendar (Opcional)</h3>
              	  	<div class="form-group {% if form.idcalendar.errors %}has-error{% endif %}">
                  	<label for="form.idcalendar.id_for_label">Id Calendari</label></br>
                  	{% if form.idcalendar.errors %}<label class="control-label" for="form.idcalendar.id_for_label"><i class="fa fa-times-circle-o"></i> {{ form.idcalendar.errors|striptags }}</label>{% endif %}
                  	{{ form.idcalendar|add_class:"form-control" }}
                	</div>                    
                    

                  <div class="box-footer">
                  	<div class="row">
            			<div class="col-xs-8"> 
            			</div><!-- /.col -->
	            		<div class="col-xs-4">
	              			<button type="submit" class="btn btn-primary btn-block btn-flat" >Guardar</button>
	            		</div><!-- /.col -->
          			</div>                  	
                  </div>
                </form>
              </div><!-- /.box -->
          	
            <!-- fix for small devices only -->
            <div class="clearfix visible-sm-block"></div>            
           	</div>
       		<div class="col-md-3">
          	</div>
       </div><!-- /.row -->       
       	
       	 <script>
        	jQuery(function($) {
					$("[data-mask]").inputmask();
					})        	
        </script>
       	
{% endblock %}