{% extends 'base.html' %}

{% load staticfiles %}

{% block sectionclass %}content{% endblock %}

{% block title %}Fitxa de l'Associació{% endblock %} 

{% block titlepage %}Fitxa de l'Associació{% endblock %} 

{% block breadcrumb %}<li class="active">{{ association.name }}</li>{% endblock %}

<!-- Left Menu -->
{% block firstleftmenuname %}Llista Associacions{% endblock %}

{% block firstleftmenu %} 

{% endblock %}

{% block calendarmenu %}
            <li >
              <a href="{% url 'calendar' association.id %}">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
              </a>
            </li>
{% endblock %}

<!-- End Left Menu -->


{% block content %}

		<!-- Info row -->
        <div class="row">
            <div class="col-md-12">
            	<div class="box box-primary">
	                <div class="box-header">
	                  <div class="media">
	  					<div class="media-left">
	    					<a href="{{ association.url }}"><img class="media-object" src="{% if association.logotype %} {{ association.logotype.url }} {% else %} {% static "images/nologo.png" %} {% endif %}" alt="logo" style="width: 64px; height: 64px;"></a>
	  					</div>
		  				<div class="media-body">
		    				<h3 class="page-header">
		                	{{ association.name }} - <b>#{{ association.penyanumber }} <a href="{% url 'edit_association' association.id %}" class="btn btn-default"><i class="fa fa-edit"></i> Editar</a></b>
		                	<small class="pull-right"> Data Creació: 2/10/2007</small>
		              		</h3>
						  </div>
					  </div><!-- /.media --> 
	                  <div class="box-tools pull-right">
	                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	                  </div>
	                </div><!-- /.box-header -->
	                <div class="box-body">
	                	<div class="nav-tabs-custom">
	                		<ul class="nav nav-tabs">
			                  <li class="active"><a href="#tab_1" data-toggle="tab">Dades</a></li>
			                  <li><a href="#tab_2" data-toggle="tab">Dades Bancaries</a></li>            			              
			                </ul>
		                	<div class="tab-content">
			                	<div class="tab-pane active" id="tab_1">
			                		<div class="row invoice-info">
						            <div class="col-sm-4 invoice-col">						     
						              <address>
						                <strong>{{ association.name }}</strong><br>
						                {{ association.adress }}<br>
						                {{ association.city }}, 25003<br>
						                Telf.: {{ association.telephone }}<br/>
						                Email: {{ association.email }}
						              </address>
						            </div><!-- /.col -->
						            <div class="col-sm-4 invoice-col">
						              Junta:
						              <address>
						                <strong>President:</strong> Daniel Rovira Romà<br>
						                <strong>VicePresident:</strong> Eloi Aymerich Berenguer<br>
						                <strong>Secretari:</strong> Ramon Usall<br>
						                <strong>Diseny:</strong> Arnau Benet Marques<br>
						              </address>
						            </div><!-- /.col -->
						            <div class="col-sm-4 invoice-col">
						              <div class="info-box">
						                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
						                <div class="info-box-content">
						                  <span class="info-box-text">Socis</span>
						                  <span class="info-box-number">{{ totalmembers }}</span>
						                </div><!-- /.info-box-content -->
						              </div><!-- /.info-box -->
						             </div><!-- /.col -->
						          </div><!-- /.row -->
			            		</div>
			            		<div class="tab-pane" id="tab_2">
			            			<div class="row invoice-info">
						            <div class="col-sm-4 invoice-col">
						              Compte Corrent:
						              <address>
						                <strong>{{ association.currentaccount }}</strong>
						              </address>			
						            </div><!-- /.col -->
						            <div class="col-sm-4 invoice-col">
						            	Al pulsar el botó es generarà un Fitxer XML en format SEPA per a tramitar els rebuts en estat <span class="label label-warning">Generat</span> per importar a l'entiat bancària i executar l'ordre d'enviament de les Quotes de l'any actual.</br>
						            	Aquests rebuts passaran en estat <span class="label label-primary">Enviat</span>.
						            	<a href="{% url 'xml_sepa' association.id %}" class="btn btn-default"><i class="fa fa-edit"></i> Generar XML SEPA Rebuts</a></b>
						            </div>		
						            <div class="col-sm-4 invoice-col">
						            	 <div class="info-box">
						                <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>
						                <div class="info-box-content">
						                  <span class="info-box-text">Rebuts Bancaris</span>
						                  <span class="info-box-number">{{ totalreceipts }}</span>
						                </div><!-- /.info-box-content -->
						              </div><!-- /.info-box -->
						            </div>				          
						          </div><!-- /.row -->
			            		</div>
			            	</div>
		            	</div>
	            	</div> <!-- /.box body -->            
            	</div><!-- /.box -->
          	</div> <!-- /.col -->
         </div> <!-- /.row -->
         
        <!-- table data -->       
        <div class="row">
	          <div class="col-md-12">
	              <div class="box box-warning">
	                <div class="box-header with-border">
	                  <h3 class="box-title">Socis</h3>
	                  <div class="box-tools">
	                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	                  </div><!-- /.box-tools -->
	                </div><!-- /.box-header -->
	                <div class="box-body" style="display: block;">
	                	<div class="row">
	                		<!-- Buttons -->
		                	<div class="col-xs-12">				              
				              <a href="{% url 'add_uf' association.id %}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Afegir Unitat Familiar</a>
				              <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#GenerateReceiptsModal"><i class="fa fa-magic"></i> Generar Rebuts</button>
				              <a href="{% url 'members_export' association.id %}" class="btn btn-default pull-right"><i class="fa fa-download"></i> Exportar Socis</a>
				              <a href="{% url 'members_import' association.id %}" class="btn btn-default pull-right"><i class="fa fa-upload"></i> Importar Socis</a>				              
				            </div>
		                	<!-- Table -->
							<div class="col-xs-12 table-responsive" style="padding-top: 10px;">
					            </br>            
					              <table class="table table-bordered table-hover" id="ufs">
					                <thead>
					                  <tr>
					                    <th>#</th>
					                    <th>Pagament</th>
					                    <th>Família</th>
					                    <th>Tipus</th>
					                    <th>Núm Membres</th>
					                  </tr>
					                </thead>
					                <tbody>
					                  {% for uf in Ufs %}
					                	 <tr data-link="{% url 'uf' association.id uf.id %}">
						                    <td>{{ uf.id }}</td>
						                    <td>{% if uf.currentaccount == '0.0' or uf.currentaccount == '0' or uf.currentaccount == '' %} Efectiu {% else %} CC:  {{ uf.currentaccount }} {% endif %}</td>
						                    <td>
						                    {% for member in uf.member_set.all %}
						                    	{% if forloop.first %} {{ member.firstsurname }} {{ member.secondsurname }} {% endif %}
						                    {% endfor %}	
						                    </td>
						                    <td>
						                    	{% if uf.typequote == 1 %}
						                    	<span class="label label-success">Normal</span>
						                    	{% elif uf.typequote == 2 %}
						                    	<span class="label label-primary">Familiar</span>
						                    	{% elif uf.typequote == 3 %}
						                    	<span class="label label-warning">Jubilat</span>
						                    	{% endif %}
						                    </td>	                    
						                    <td>{{ uf.member_set.all.count }}</td>	                 
					                  	 </tr>
					                  {% endfor %}              
					                </tbody>
					              </table>
					            </div><!-- /.col -->
						    <div class="row no-print">
								<div class="col-xs-12">
							    	<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir Llistat Socis</a>
							    </div>
							</div>
	                	</div>
	                </div><!-- /.box-body -->
	              </div><!-- /.box -->
	           	</div><!-- /.col -->       
           </div><!-- /.row -->        
		
		<div class="row">
	          <div class="col-md-12">
				<div class="box box-default">
		                <div class="box-header with-border">
		                  <h3 class="box-title">Estadístiques</h3>
		                  <div class="box-tools pull-right">
		                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
		                  </div>
		                </div><!-- /.box-header -->
		                <div class="box-body">
		                  <div class="row">
		                    <div class="col-md-8">
		                      <div class="chart-responsive">
		                        <canvas id="pieChart" height="150"></canvas>
		                      </div><!-- ./chart-responsive -->
		                    </div><!-- /.col -->
		                    <div class="col-md-4">
		                      <ul class="chart-legend clearfix">
		                        <li><i class="fa fa-circle-o text-red"></i> Efectiu</li>
		                        <li><i class="fa fa-circle-o text-green"></i> Banc</li>
		                      </ul>
		                    </div><!-- /.col -->
		                  </div><!-- /.row -->
		                </div><!-- /.box-body -->
		                <div class="box-footer no-padding">
		                  <ul class="nav nav-pills nav-stacked">
		                    <li><a href="#">Efectiu <span class="pull-right text-red"> {{ percent_totalEfectiu }}</span></a></li>
		                    <li><a href="#">Banc <span class="pull-right text-green"> {{ percent_totalBanc }}%</span></a></li>
						</ul>
		                </div><!-- /.footer -->
		              </div><!-- /.box -->
		         </div><!-- /.col -->       
           </div><!-- /.row -->    

		<!-- Modal -->
		<div class="modal fade" id="GenerateReceiptsModal" tabindex="-1" role="dialog" aria-labelledby="GenerateReceiptsModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-magic"></i>Generació Automatica de Rebuts</h4>
		      </div>
		      <div class="modal-body">
		        Es generaran els rebuts per a totes les Unitats Familiar actuals per a l'any actual ({% now "Y" %}).
		        Está segur que vol generar-los? (Es sobreescriuran tots els rebuts generats actualment referents al {% now "Y" %} )
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
		        <a name="btngeneratereceipts" data-dismiss="modal" class="btn btn-primary">Generar</a>
		      </div>
		    </div>
		  </div>
		</div>

        <div class="clearfix"></div>        
        
        <script>
        	jQuery(function($) {
        			$('a[name=btngeneratereceipts]').click(function(){
				        user_id = $(this).val();
				        request_url = '/assocr/generate_receipts/' + {{ association.id }} + '/';
				        $.ajax({
				            url: request_url,
				            success: function(data){
				            	$('#GenerateReceiptsModal').modal('hide');				            					            					            
				                $('#messages').append('<div class="alert alert-success alert-dismissable"><button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button><h4><i class="icon fa fa-check"></i> Alert!</h4>' + data.success + '</div>');
				            }
				        })
				    })        		
        		
					$("tr[data-link]").click(function() {
						window.location = this.dataset.link
					});
					
					$("#ufs").dataTable();
					})     
					
				  //-------------
				  //- PIE CHART -
				  //-------------
				  // Get context with jQuery - using jQuery's .get() method.
				  var pieChartCanvas = $("#pieChart").get(0).getContext("2d");
				  var pieChart = new Chart(pieChartCanvas);
				  var PieData = [
				    {
				      value: {{ totalEfectiu }},
				      color: "#f56954",
				      highlight: "#f56954",
				      label: "Efectiu"
				    },
				    {
				      value: {{ totalBanc }},
				      color: "#00a65a",
				      highlight: "#00a65a",
				      label: "Banc"
				    }
				  ];
				  var pieOptions = {
				    //Boolean - Whether we should show a stroke on each segment
				    segmentShowStroke: true,
				    //String - The colour of each segment stroke
				    segmentStrokeColor: "#fff",
				    //Number - The width of each segment stroke
				    segmentStrokeWidth: 1,
				    //Number - The percentage of the chart that we cut out of the middle
				    percentageInnerCutout: 50, // This is 0 for Pie charts
				    //Number - Amount of animation steps
				    animationSteps: 100,
				    //String - Animation easing effect
				    animationEasing: "easeOutBounce",
				    //Boolean - Whether we animate the rotation of the Doughnut
				    animateRotate: true,
				    //Boolean - Whether we animate scaling the Doughnut from the centre
				    animateScale: false,
				    //Boolean - whether to make the chart responsive to window resizing
				    responsive: true,
				    // Boolean - whether to maintain the starting aspect ratio or not when responsive, if set to false, will take up entire container
				    maintainAspectRatio: false,
				    };
				  //Create pie or douhnut chart
				  // You can switch between pie and douhnut using the method below.  
				  pieChart.Doughnut(PieData, pieOptions);
				  //-----------------
				  //- END PIE CHART -
				  //-----------------
					   	
        </script>
        
{% endblock %}