{% extends 'base.html' %}

{% load staticfiles %}

{% block sectionclass %}invoice{% endblock %}

{% block title %}Fitxa de l'Associació{% endblock %} 

{% block titlepage %}Fitxa de l'Associació{% endblock %} 

{% block breadcrumb %}<li class="active">{{ association.name }}</li>{% endblock %}

{% block content %}

		     <!-- title row -->
          <div class="row">
            <div class="col-xs-12">
            	<div class="media">
  					<div class="media-left">
    					<a href="{{ association.url }}"><img class="media-object" src="{% if association.logotype %} {{ association.logotype.url }} {% else %} {% static "images/nologo.png" %} {% endif %}" alt="logo" style="width: 64px; height: 64px;"></a>
  					</div>
  				<div class="media-body">
    				<h2 class="page-header">
                	{{ association.name }} - <b>#{{ association.penyanumber }}</b>
                	<small class="pull-right"> Data Creació: 2/10/2007</small>
              		</h2>
				  </div>
				</div>	              
            </div><!-- /.col -->
          </div>
         
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              Dades:
              <address>
                <strong>{{ association.name }}</strong><br>
                {{ association.adress }}<br>
                {{ association.city }}, 25003<br>
                Telf.: {{ association.telephone }}<br/>
                Email: {{ association.email }}
              </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              Junta:
              <address>
                <strong>President:</strong> Daniel Rovira Romà<br>
                <strong>VicePresident:</strong> Eloi Aymerich Berenguer<br>
                <strong>Secretari:</strong> Ramon Usall<br>
                <strong>Diseny:</strong> Arnau Benet Marques<br>
              </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <div class="info-box">
                <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>
                <div class="info-box-content">
                  <span class="info-box-text">Socis</span>
                  <span class="info-box-number">{{ totalmembers }}</span>
                </div><!-- /.info-box-content -->
              </div><!-- /.info-box -->
              <a href="{% url 'edit_association' association.id %}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Editar Associació</a>
              <a href="{% url 'add_uf' association.id %}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Afegir Unitat Familiar</a>
              <a href="{% url 'members_export' association.id %}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Exportar Llistat Socis</a>
              <a href="{% url 'members_import' association.id %}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Importar Socis</a>
            </div><!-- /.col -->
          </div><!-- /.row -->
		  
          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
            </br>            
              <table class="table table-bordered table-hover" id="ufs">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Compte Corrent</th>
                    <th>Nom</th>
                    <th>Tipus</th>
                    <th>Núm Membres</th>
                  </tr>
                </thead>
                <tbody>
                  {% for uf in Ufs %}
                	 <tr data-link="{% url 'uf' association.id uf.id %}">
	                    <td>{{ uf.id }}</td>
	                    <td>{{ uf.currentaccount }}</td>
	                    <td>Soci {{ uf.id }}</td>
	                    <td>
	                    	{% if uf.typequote == 1 %}
	                    	<span class="label label-success">Normal</span>
	                    	{% elif uf.typequote == 2 %}
	                    	<span class="label label-primary">Familiar</span>
	                    	{% elif uf.typequote == 3 %}
	                    	<span class="label label-warning">Jubilat</span>
	                    	{% endif %}
	                    </td>	                    
	                    <td>{{ uf.member_set.all.count }}</td>	                 
                  	 </tr>
                  {% endfor %}              
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-xs-12">
              <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Print</a>
              <button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>
              <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Generate PDF</button>
            </div>
          </div>
        </section><!-- /.content -->
        <div class="clearfix"></div>        

        
        <script>
        	jQuery(function($) {
					$("tr[data-link]").click(function() {
						window.location = this.dataset.link
					});
					
					$("#ufs").dataTable();
					})        	
        </script>
        
{% endblock %}