{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Fitxa del Soci{% endblock %} 

{% block titlepage %}Fitxa del Soci{% endblock %} 

{% block sectionclass %}content{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'association' member.uf.association.id %}">{{ member.uf.association.name }}</a></li>
	<li><a href="{% url 'uf' member.uf.association.id member.uf.id %}">UF{{ member.uf.id }}</a></li>
	<li class="active">{{ member.name }} {{ member.firstsurname }} {{ member.secondsurname }}</li>
{% endblock %}

{% block content %}

		  <!-- title row -->
          <div class="row">
            <div class="col-md-12">
				<div class="box box-warning">
	                <div class="box-header">
	                 <div class="media">
  						<div class="media-left">
    						<a href="{{ association.url }}"><img class="media-object" src="{% if association.logotype %} {{ association.logotype.url }} {% else %} {% static "images/noimage.png" %} {% endif %}" alt="logo" style="width: 128px; height: 128px;"></a>
  						</div>
	  					<div class="media-body">
		    				<h2 class="page-header">
		                	{{ member.name }} {{ member.firstsurname }} {{ member.secondsurname }}
		                	<a href="{% url 'edit_member' member.uf.association.id member.uf.id member.id %}" class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>		   
		                	<!--<small class="pull-right"> Data Creació: 2/10/2007</small>-->
		              		</h2>
					  	</div>
					 </div>
	                </div><!-- /.box-header -->
	                <div class="box-body">
	                	 <!-- info row -->
				          <div class="row">
				          	<div class="col-sm-2">
				          	</div>
				            <div class="col-sm-6">
					            <h4>
					              <dl class="dl-horizontal">
					                    <dt>DNI</dt>
					                    <dd>{{ member.dni }}</dd>
					                    <dt>Data Neixament</dt>
					                    <dd>{{ member.birthdaydate }}</dd>
					                    <dt>Correu Electònic</dt>
					                    <dd>{{ member.email }}</dd>
					                    <dt>Adreça</dt>
					                    <dd>{{ member.adress }}</dd>
					                    <dd>{{ member.postalcode }}, {{ member.city }} ({{ member.province }})</dd>
					                    <dt>País</dt>
					                    <dd>{{ member.country }}</dd>
					                    <dt>Telèfon</dt>
					                    <dd>{{ member.telephone }}</dd>
					              	</dl>
					              </h4>
				             </div><!-- /.col -->
				            <div class="col-sm-4 invoice-col">
				          	</div><!-- /.col -->
				       </div><!-- /.row -->
				       <!-- this row will not appear when printing -->
			          <div class="row no-print">
			            <div class="col-xs-12">
			              <a href="invoice-print.html" target="_blank" class="btn btn-default pull-right"><i class="fa fa-print"></i> Imprimir Fitxa</a>
			            </div>
			          </div>
	            	</div> <!-- /.box body -->            
            	</div><!-- /.box -->	              
            </div><!-- /.col -->
          </div> 
          
        <div class="clearfix"></div>
        
        <script>
        	jQuery(function($) {
					$("tr[data-link]").click(function() {
						window.location = this.dataset.link
					});
					})        	
        </script>
        
{% endblock %}