{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Fitxa de la Unitat Familiar{% endblock %} 
{% block titlepage %}Fitxa de la Unitat Familiar{% endblock %} 

{% block sectionclass %}content{% endblock %}

{% block breadcrumb %}
	<li><a href="{% url 'association' uf.association.id %}">{{ uf.association.name }}</a></li>
	<li class="active">UF{{ uf.id }}</li>
{% endblock %}

<!-- Left Menu -->
{% block calendarmenu %}
            <li >
              <a href="{% url 'calendar' uf.association.id %}">
                <i class="fa fa-calendar"></i> <span>Calendar</span>
              </a>
            </li>
{% endblock %}
<!-- End Left Menu -->

{% block content %}
		<!-- Info row -->
        <div class="row">
            <div class="col-md-12">
            	<div class="box box-primary">
	                <div class="box-header with-border">
	                  <h4>
		                <i class="fa fa-globe"></i> UF - <b>#{{ uf.id }}</b> 
		                <a href="{% url 'edit_uf' uf.association.id uf.id %}" class="btn btn-default"><i class="fa fa-edit"></i> Editar</a>
		                {% if uf.state = True %}		                
		                	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#CancelUF"><i class="fa fa-ban"></i> Donar de Baixa</button>
		                {% else %}
		                	<button type="button" class="btn btn-default" data-toggle="modal" data-target="#ActiveUF"><i class="fa fa-check-circle-o"></i> Activar</button>		                
		                {% endif %}                			
		                <a href="{% url 'edit_uf' uf.association.id uf.id %}" class="btn btn-default"><i class="fa fa-trash-o"></i> Eliminar</a>	            
		              </h4> 
	                  <div class="box-tools pull-right">
	                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	                  </div>
	                </div><!-- /.box-header -->
	                <div class="box-body">
	                	<div class="row">
				            <div class="col-sm-6">
					            <h4>
					              Tipus de Pagament:	</br>				              
					                {% if uf.currentaccount == '0.0' or uf.currentaccount == '0' or uf.currentaccount == '' %} <strong>En Efectiu </strong>{% else %} <strong>Compte Corrent: </strong>  {{ uf.currentaccount }} {% endif %}
					              
					            </h4>
				            </div><!-- /.col -->
				            <div class="col-sm-3">
				            </div><!-- /.col -->
				            <div class="col-sm-3 pull-right">
				            	<h4> 
					            	Tipus de Quota:
							        {% if uf.typequote == 1 %}
						            	<span class="label label-success">Normal</span>
						            {% elif uf.typequote == 2 %}
						                <span class="label label-primary">Familiar</span>
						            {% elif uf.typequote == 3 %}
						                 <span class="label label-warning">Jubilat</span>
						            {% endif %}
					            </h4>
				           	</div><!-- /.col -->
				        </div><!-- /.row -->
	            	</div> <!-- /.box body -->            
            	</div><!-- /.box -->
          	</div> <!-- /.col -->
          </div>
         
          <!-- Table row -->
          <div class="row">
          	<div class="col-xs-12">
          	 <div class="box box-warning">
                <div class="box-header with-border">
                  <h3 class="box-title">Membres</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" style="display: block;">
                	<div class="row">
	                	<div class="col-xs-12"> 
            				<a href="{% url 'add_member' idassociation uf.id %}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Afegir Soci</a>           
			            </div>
			            <div class="col-xs-12 table-responsive" style="padding-top: 10px;">              
			              <table class="table table-bordered table-hover" id="members">
			                <thead>
			                  <tr>
			                    <th>Nom</th>
			                    <th>DNI</th>
			                    <th>Data Neixament</th>
			                    <th>Ciutat</th>
			                    <th>Soci FCB</th>
			                  </tr>
			                </thead>
			                <tbody>
			                    {% for member in members %}
			                	 <tr data-link="{% url 'member' uf.association.id uf.id member.id %}">
				                    <td>{{ member.firstsurname }} {{ member.secondsurname }}, {{ member.name }}</td>
				                    <td>{{ member.dni }}</td>
				                    <td>{{ member.birthdaydate }}</td>
				                    <td>{{ member.city }}</td> <!-- {{ uf.typequote }} -->	                    
				                    <td>
				                    	{% if member.fcbmember %}
				                    		<span class="label label-success">Si - {{ member.fcbnumber }}</span></td>	
				                    	{% else %}
				                    		<span class="label label-danger">No</span></td>
				                    	{% endif %}				                    	                 
			                  	 </tr>
			                  {% endfor %}            
			                </tbody>
			              </table>
			 			</div>	
		 				<div class="row no-print">
					    	<div class="col-xs-12">
					        	<a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Imprimir Llistat Membres</a>
					        </div>
				    	</div>
		 			</div> <!-- /.row -->
 				</div><!-- /.box-body -->
              </div><!-- /.box -->
          </div> <!-- /.col -->      
          </div> <!-- /.row -->
          
          <!-- Receipts -->
          <div class="row">
          	<div class="col-xs-12">
          	 <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Històric de Rebuts</h3>
                  <div class="box-tools">
                    <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                  </div><!-- /.box-tools -->
                </div><!-- /.box-header -->
                <div class="box-body" style="display: block;">
                	<div class="row">
	                	<div class="col-xs-12"> 
            				<a href="{% url 'add_receipt' idassociation uf.id %}" class="btn btn-default pull-right"><i class="fa fa-plus"></i> Afegir Rebut</a>           
			            </div>
			            <div class="col-xs-12 table-responsive" style="padding-top: 10px;">              
			              <table class="table table-bordered table-hover" id="members">
			                <thead>
			                  <tr>
			                    <th>Any</th>
			                    <th>Estat</th>
			                    <th>Observacions</th>
			                  </tr>
			                </thead>
			                <tbody>
			                    {% for receipt in receipts %}
			                	 <tr data-link="{% url 'edit_receipt' uf.association.id uf.id receipt.id %}">
				                    <td>{{ receipt.year }}</td>	
				                    {% if receipt.state == 0 %}	
				                    		<td><span class="label label-warning">Generat</span></td>
				                    {% elif receipt.state == 1 %}		                                   
				                    	<td><span class="label label-primary">Enviat</span></td>
				                    {% elif receipt.state == 2 %}		
				                    	<td><span class="label label-danger">Retornat</span></td> 
				                    {% elif receipt.state == 3 %}		
				                    	<td><span class="label label-success">Pagat</span></td>
				                    {% endif %}     
				                    <td>{{ receipt.observations|default_if_none:"" }}</td>	            
			                  	 </tr>
			                  {% endfor %}            
			                </tbody>
			              </table>
			 			</div>	
		 			</div> <!-- /.row -->
 				</div><!-- /.box-body -->
              </div><!-- /.box -->
          </div> <!-- /.col -->      
          </div> <!-- /.row -->

		  <!-- Modal Deactivate UF  -->
		  <div class="modal fade" id="CancelUF" tabindex="-1" role="dialog" aria-labelledby="CancelUFLabel" aria-hidden="true">
		  	<div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-ban"></i> Donar de Baixa</h4>
			      </div>
			      <div class="modal-body">
			        Es donará de baixa la UF i tots els seus membre i rebuts.
			        Això no significa que sigui eliminada i sempre la pot tornar a reactivar més endavant.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			        <a href="{% url 'cancel_uf' uf.id %}" class="btn btn-danger"> Donar de Baixa</a>
			      </div>
			    </div>
			 </div>
		  </div>
		  
		  <!-- Modal Activate UF  -->
		  <div class="modal fade" id="ActiveUF" tabindex="-1" role="dialog" aria-labelledby="ActiveUFLabel" aria-hidden="true">
		  	<div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        <h4 class="modal-title" id="myModalLabel"><i class="fa fa-check-circle-o"></i> Activar</h4>
			      </div>
			      <div class="modal-body">
			        Es tornarà activar la UF i tots els seus membre i rebuts.
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
			        <a href="{% url 'active_uf' uf.id %}" class="btn btn-success"> Activar</a>			        
			      </div>
			    </div>
			 </div>
		  </div>

        <div class="clearfix"></div>
        
        <script>
        	jQuery(function($) {
					$("tr[data-link]").click(function() {
						window.location = this.dataset.link
					});
					
					$("#members").dataTable();
					});   								
					     	
        </script>
        
{% endblock %}